<tr>
  <th scope="row"> <%= user.id %> </th>
  <td> <%= user.email %> </td>
  <td> <%= user.name %> </td>
  <td> <%= user.birthday.to_date %> </td>
  <td>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= button_to 'Destroy', user, method: :delete %>
    <%= link_to 'View', user %>
  </td>
</tr>
