<tr>
  <th scope="row"> <%= user.id %> </th>
  <td> <%= user.email %> </td>
  <td> <%= user.name %> </td>
  <td> <%= user.birthday.strftime("%d/%m/%Y") if user.birthday %> </td>
  <td> 
    <% if current_user.admin? || user == current_user %>
      <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to "delete", user_path(user), method: :delete, class: "btn btn-danger delete", remote: true, data: {confirm: "Are you sure?"} %>
    <% end %>
    <%= link_to 'View', user, class: "btn btn-info" %>
  </td>
</tr>
