<div class="box-cards-blog -grid">
  <% @posts.each do |post| %>
  <div class="card">
    <div class="card-image">
      <%= image_tag post.image if post.image.attached? %>
    </div>
    <div class="card-meta">
      <div class="card-top">
        <p class="cat"><%= post.status %></p>
        <span class="date"><%= time_ago_in_words(post.created_at) %></span>
      </div>
      <h2 class="card-title"><a href="#"><%= post.title %></a></h2>
      <div class="card-bottom">
        <div class="user">
          <div class="avatar">
            <img src="/assets/avatar1.png" alt="" />
          </div>
          <span class="username">Anonymous</span>
        </div>
        <%= link_to "Read more → ", post, :class => "readmore" %>
      </div>
    </div>
    <div class="btn-guest">
    <%= link_to 'approve', posts_guest_path(:id => post.id, :commit_status => "approve"), :method => :patch, :class => "btn btn-success" %> 
    <%= link_to 'reject', posts_guest_path(:id => post.id, :commit_status => "reject"), :method => :patch, :class => "btn btn-danger" %>
    </div>
  </div>
  <% end %>
</div>
