<%= form_with(model: @post, url: posts_guest_path, local: true) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%=f.label :title %><br> 
    <%= f.text_field :title, class: 'form-control', placeholder: "title posts..." %>
  </div>
  <div class=”field“>
    <%=f.label :content %><br>
    <%= f.text_area :content, class: "ckeditor" %>
  </div>
  <span class="image">
    <%=f.label :image %><br>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png"%> 
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
