<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTrainning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="myModal" class="modal">
      <% if notice %>
        <div class="alert alert-success" id="success-alert"> <%= notice %> </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" id="success-alert"> <%= alert %> </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
